/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    /*font-size: 14px;*/
    color: #252B42;
}

/* ________________________________________________________________________________________________________________ */

body {
    font-family: Arial, "Helvetica Neue, sans-serif";
}

.wrapper {
    min-height: 100%; /* оболочка на всю высоту экрана */
    overflow: hidden; /* чтобы не вылезло за экран */

    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto; /* прижим футера к низу страницу, grow=1, shrink=1, basis-auto */
}

.hi {
    background-color: #445162;
    padding: 50px 0;
    border-radius: 20px;
}

.container {
    max-width: 1180px;
    margin: 0px auto;
}

.hi__row {
    display: flex;
    justify-content: space-between;
}

.hi__body {
    color: #fff;
    padding: 0 30px 0 0;
}

.hi__title {
    color: #be500f;
    text-shadow: 5px 5px 0 rgba(192, 163, 163, 0.3);
    font-size: 60px;
    margin-bottom: 38px;
}

.hi__list {
}

.hi__list li {
    background: url("../FLEX2/img/ring.png") 0 1px no-repeat;
    text-shadow: 5px 5px 0 rgba(5, 5, 5, 0.3);
    font-size: 20px;
    line-height: 22px;
    padding: 0 0 0 36px;
    margin: 0 0 15px 0;
}

.hi__list li:last-child {
    margin: 0;
}

.hi__image {

}

.hi__image img {
    width: 600px;
    border-radius: 30px;
}

/* _____WHAT_______________________________________________________________________________________________________ */
.title {
    color: #be500f;
    text-shadow: 5px 5px 0 rgba(192, 163, 163, 0.3);
    font-size: 40px;
    line-height: 36px;
}

.what {
}

.what__row {
    display: flex;
    margin: 40px 0 0 0;
}

.what__image {
    flex: 0 0 430px; /* запрет на ув/ум и конкретная ширина */
}

.what__image img {
    width: 100%;
    border-radius: 33px;
    border-top-left-radius: 222px;
    border-bottom-right-radius: 222px;
}

.what__body {
    flex: 1 1 auto;
    margin: 0 0 0 40px;
}

.what__title {
    margin: 0 0 33px 0;
}

.what__list p {
    text-shadow: 5px 5px 0 rgba(5, 5, 5, 0.3);
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 20px 0;
}

/* _____CLASSES_____________________________________________________________________________________________________ */


.columns {
    background-color: #dadada;
    border-radius: 20px;
    padding: 50px 0 30px 0;
    margin: 50px 0 0 0;
}

.columns__title {
    text-align: center;
    margin: 0 0 30px 0;
}

.columns__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}

.columns__column {
    flex: 0 1 50%;
    margin: 0 0 30px 0;
    padding: 0 8px;
}

.columns__item {
}

.item {
}

.item__row {
    display: flex;
}

.item__image {
    flex: 0 0 200px;
}

.item__image img {
    max-width: 100%;
    border-radius: 51px 47px 49px 48px / 69px 79px 72px 71px;
}

.item__body {
    flex: 1 1 auto;
    padding: 0 0 0 15px;
}

.item__title {
    color: #445161;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 13px 0;
}

.item__text {
    color: #333333;
    font-size: 16px;
    line-height: 24px;
}

/* _____VERTICAL___________________________________________________________________________________________________ */


.vertical {
    padding: 50px 0;
}

.vertical__title {
    text-align: center;
    margin: 0 0 30px 0;
}

.vertical__body {
    max-width: 990px;
    margin: 0 auto;
}

.vertical__row {
    display: flex;
    margin: 0 22.5px;
}

.vertical__column {
    padding: 0 22.5px;
    flex: 0 1 33.333%; /* страховка для IE */
    display: flex;
}

.vertical__item {
    background-color: #445162;
    color: white;
    padding: 0 0 20px 0;
    border-radius: 10px;
    border: 1px solid #445162;
    display: flex;
    flex-direction: column;
}

.vertical__subtitle {
    text-align: center;
    font-size: 24px;
    padding: 12px 0;
    text-transform: uppercase;
}

.vertical__label {
    background-color: #fff;
    color: #445162;
    padding: 15px 0;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

.vertical__text {
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
    flex: 1 1 auto; /* прижимание футера к низу блока */
}

.vertical__text p {
    margin: 0 0 15px 0;
}

.vertical__text p:last-child {
    margin: 0;
}

.vertical__btn {
    display: block;
    margin: 0px 20px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;

    line-height: 40px;
    font-size: 18px;
    color: #445162;
    text-align: center;
}

/* _____WAVE_BTN__________________________________________________________________________________________________ */

.wave-btn {
    width: 280px;
    height: 60px;
    display: flex;
    border-radius: 0 0 10px 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    transition: all 0.8s ease 0s;
    position: relative;
}


.wave-btn__text {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 8px;
    position: relative;
    z-index: 1;
}

.wave-btn__waves {
    position: absolute;
    width: 280px;
    height: 280px;
    top: 0;
    left: 0;
    background-color: #4973ff;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}

.wave-btn__waves:after,
.wave-btn__waves:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 250%;
    height: 250%;

    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.wave-btn__waves:before {
    color: #000;
    border-radius: 48%;

    animation: waves 5s infinite linear;
}

.wave-btn__waves:after {
    background-color: rgba(0,0,0,0.5);
    border-radius: 44%;

    animation: waves 10s infinite linear;
}

@keyframes waves {
    0%{}
    50%{}
    100%{}
}

/* _____FOOTER_____________________________________________________________________________________________________ */

.footer {
    background-color: #f5f5f5;
}

.footer__row {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}

.footer__text {
    color: #445162;
    font-size: 12px;
    letter-spacing: .3px;
}